.questions__item-title {
    
    
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;

    

    
}



/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .questions__item-title:hover {
   
}

/* Style the accordion panel. Note: hidden by default */
.questions__item-text {
    
    
    font-size: 15px;
    font-weight: 300;
    line-height: 150%; /* 22.5px */
    height: 0;
    
    overflow: hidden;
    transition: height 0.3s ease-out;
    padding-left: 50px;
}

.questions__item-title::after {
    content: url('./../images/questions-arrow.svg');
    position: absolute;
    width: 67px;
    height: 72px;
    background-color: #fff;
    right: -67px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   
}


.questions__item-title.active::after {
    transform: rotate(180deg);
}