.page-section {
}
.benefits {
    .title{
        @media(max-width: 1366px){
            padding-top: 40px;
        }
    }
}
.page-section__wrapper {
}
.container {
}
.title {
}
.benefits__items {
    display: flex;
    flex-wrap: wrap;
    
    row-gap: 110px;
    padding-left: 25px;

    @media(max-width: 1100px){
        display: block;
        }
        @media(max-width: 540px){
        margin-top: 40px;
        }
}
.benefits__item {
    @media(max-width: 1280px){
       max-width: 45%;
       margin-bottom: 40px;
       }

       @media(max-width: 1100px){
        max-width: 100%;
        }

        @media(max-width: 540px){
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: 20px;
            }
    display: flex;
   &:nth-child(even){
    margin-left: 50px;
    transform: translateY(25px);
    @media(max-width: 1100px){
        transform: translateY(0);
        margin-left: 200px;
        }
        
        @media(max-width: 800px){
            transform: translateY(0);
            margin-left: 0;
            }
   }
   &:nth-child(3){
    margin-left: 30px;
    @media(max-width: 1100px){
       
        margin-left: 0px;
        }
   }


    
    &:first-child,
    &:nth-child(3){
        position: relative;
        &::after,
        &::before{
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-position: 0 0;

            @media(max-width: 1280px){
                display: none;
               }
            }
        }
        
        &:first-child{
            &::after{
                height: 48px;
                width: 245px;
                background-image: url('./../images/line-1.svg');
                
                right: -65px;
                top: 38px;
                @media(max-width: 1280px){
                    display: none;
                   }

                
            }
            
  
    &:nth-child(3){
        &::before{
            width: 254px;
            height: 42px;
            background-image: url('./../images/line-3.svg');

            right: -65px;
            top: 25px;
        }
        &::after{
            width: 463px;
            height: 62px;
            background-image: url('./../images/line-2.svg');

            right: -65px;
            bottom: 250px;
        }
    }
        }
    
}




.benefits__num {
    font-size: 36px;
    margin-right: 10px;
    padding-top: 103px;
    @media(max-width: 540px){
        display: none;
        }

}
.benefits__img {
    img{
        max-width:none;
    }
    margin-right: 32px;
    position: relative;
    &::before{
        z-index: -1;
        content: '';
        position: absolute;
        width: 195px;
        height: 130px;
        border: 2px solid #fff;
        top: -12px;
        right: -12px;
    }
    @media(max-width: 540px){
        margin-right: 0;
        }
}
.benefits__info {
    
    height: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FFF;
    @media(max-width: 1100px){
        max-width: 60%;
    }
/* text-Small */

    

}
.benefits__info-title {
    color: #FFF;


    font-size: 21px;
    font-weight: 700;
    
}

.benefits__info-text{
    font-size: 15px;
    line-height: 18px;
    color: #FFF;

/* text-Small */

font-weight: 300;
line-height: 140%; /* 19.5px */
}