.header {
	position: fixed;
	left: 0;
	top: 30px;
	right: 0;
	z-index: 5;
	&__inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 30px;
		text-transform: uppercase;
		font-size: 15px;
		line-height: 17px;
		font-weight: 500;
	}

	&__btn{
		color: #fff;
		background-color: transparent;
		padding: 6px 28px;
		border: solid #fff 1px;
		border-radius: 3px;
		text-transform: uppercase;
		cursor: pointer;
		transition: all .3s;

		&:hover{
			color: #000;
			background: #fff;
		}
	}

	&__phone{
		font-size: 16px;
		line-height: 18px;
	}

	@media(max-width: 1366px){
        background-color: rgba($color: #000, $alpha: .4);
		padding: 25px 0;
		top: 0;

	}
}

.logo__img{
	img{
		max-width: none;
	}
}

.menu{
	&__list{
		display: flex;
		gap: 20px;
		transition: .3s;


		@media(max-width: 1366px){
			overflow: auto;
				position: fixed;
			left: 0;
			top: 0;
			right: 0;
			background: rgba(#1c1c1c, .9);
			bottom: 0;
			display: grid;
			align-content: center;
			z-index: -1;
			gap: 35px;
			padding-left: 15px;
			transform: translateY(-100%);
			&--active{
				transform: translateY(0);
			}

			@media(max-height:450px){
				gap: 15px;
			}
	
		}
	}

	&__list-item{
		display: inline-block;
	}
}




.menu__list-btn{
	display: none;
}

.header__info{
	display: flex;
	align-items: center;
	gap: 8px;
}

.menu__btn{
	.menu__btn-line{
		
		transition: all .3s;
	}

	&::after{
		
		transition: all .3s;
	}

	&::before{
		
		transition: all .3s;
	}
	
}

.menu__list-phone{

	@media(max-height: 375px){
padding: 15px 0 ;
	}
	@media(max-width: 1366px){
		padding-top: 33px;
		position: relative;
		font-size: 16px;
		font-weight: 800;
		line-height: 18px;
		&::before{
			content: '';
			position: absolute;
			border-top: 1px solid rgba($color: #fff, $alpha: .24);
			left: -24px;
			top: 0;
			right: 0;

		}
	}
}



.menu__btn.menu__btn--active{
	transition: all .3s;
	.menu__btn-line{
		opacity: 0;
		transition: all .3s;
	}

	&::after{
		transform: translateY(-6px) rotate(45deg);
		width: 24px;
		transition: all .3s;
	}

	
	&::before{
		transform: translateY(6px) rotate(-45deg);
		
		transition: all .3s;
	}
}