@media(max-width: 1366px){
    body{
        font-size: 16px;
        line-height: 22px;
    }
    .menu{
        order: 1;
    }

    .menu__btn {
        background-color: transparent;
        outline: none;
        padding: 0;
    }
   
    .menu__btn::before,
    .menu__btn::after{
        content: '';
        width: 24px;
        height: 2px;
        display: block;
        
        background-color: #e0e0e0;
        margin-bottom: 4px;
    }

    .menu__btn::after{
    

        width: 16px;
        margin-bottom: 0;
        margin-left: auto;
        

    }
    .menu__btn-line {
        
        background-color: #e0e0e0;
        display: block;
        width: 24px;
        height: 2px;
        margin-bottom: 4px;
        
        
    }

    .header__phone{
        display: none;
    }

    .header__btn{
        margin-right: 0;
    }
}

@media(max-width: 540px){
   .top__title{
    display: none;
   }


}