
.products {
}
.page-section__wrapper {
}
.container {
}
.title {
}
.products__title {
}
.products__inner {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
}
.products__text {
    max-width: 440px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.products__slider-box {
    position: relative;
    margin-top: 110px;
}
.products__slider-text {
    width: 290px;
    position: absolute;
    z-index: 5;
    bottom: 30px;
    left: -250px;
    color: #FFF;
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.products__slider {
   
    overflow-x: hidden;
    max-width: 560px;

    &::before{
        content: '';
        position: absolute;
        width: 560px;
        height: 276px;
        border: 4px solid #fff;
        top: -15px;
        right: -17px;
    }
    .swiper-slide{
        cursor: grab;
    :active{
        cursor: grabbing;
    }
    }

}
.products__slider-img {
}

.products__btns {
    position: absolute;
    right: 0;
    z-index: 6;
    display: flex;
}
.products__btn-next {
    width: 60px;
    height: 48px;   
    background-color: #1C1C1C;
    transition: background-color .3s;

    svg path{
        transition: stroke .3s;
    }

    &:hover{
        background-color: #fff;

        svg path{
            stroke: #1C1C1C;  
        }
    }



}
.products__btn-prev {
    width: 60px;
    height: 48px;
    background-color: #1C1C1C;
    transition: background-color .3s;
    svg path{
        transition: stroke .3s;
    }
    &:hover{
        background-color: #fff;
        svg path{
            stroke: #1C1C1C;  
        }
    }
    
}