.top{
    background-image: url('./../images/top-bg.jpg');

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.4;
        background: radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0.00) 50.28%, rgba(23, 26, 28, 0.00) 50.29%, rgba(4, 5, 5, 0.82) 58.72%, rgba(5, 5, 6, 0.79) 80.08%, #000 87.89%);


    }
    &__wrapper{
        display: flex;
        align-items: flex-end;
    }


    &__inner{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 16px;

    }
    &__title{
        font-size: 96px;
        line-height: 115px;
        margin-bottom: 25px;
    }
    &__text{
        margin: 25px 0 35px;
        max-width: 325px;
    }

    &__social-list{
        display: flex;
        gap: 50px;
    }

    &__social-link{
        opacity: 0.5;
        transition: all .3s;

        &:hover{
            opacity: 1;
        }
    }
}

